@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/inter-v20-latin-200.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/inter-v20-latin-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/inter-v20-latin-400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/inter-v20-latin-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Sekuya';
    src: url('../fonts/sekuya/sekuya-v1-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

body {
    background-color: rgba(0, 0, 0, 0.921);
    color: white;
    font-family: "Inter", sans-serif;
    letter-spacing: 0.2px;

    animation: fadeIn 1s ease;
    font-weight: 400;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    width: fit-content;
    margin: 80px auto 0;
    font-size: 44px;
    font-family: "Sekuya", system-ui;
}

.neon-line {
    padding: 0;
    margin: 24px auto 30px;
    border: 4px solid #23ea625f;
    background-color: #23ea6289;
    box-shadow: 0 0 5px #23ea6279,
                0 0 10px #23ea6279,
                0 0 20px #23ea6279;
    width: 250px;
    height: 0px;
    border-radius: 8px;
}

.content {
    width: 840px;
    margin: auto;
}

.paragraph {
    display: flex;
    align-items: start;
    gap: 12px;

    margin-bottom: 16px;
}

.icon {
    user-select: none;
    color: #23ea62b0;
    text-shadow: 0 0 5px #23ea6279,
                0 0 10px #23ea6279,
                0 0 20px #23ea6279;
}

.paragraph p {
    margin: 0;
    padding: 0;
    text-align: justify;
}

.tips-list {
    list-style: none;
    width: fit-content;
    padding: 0;
    margin: -8px 0 0 16px;
}

.collapsible {
    display: flex;
    align-items: center;
    gap: 2px;
    color: white;
    text-decoration: none;
    width: fit-content;
    margin: 1px 0;
}

.collapsible .icon {
    transition: transform 0.2s ease-out;
}

.collapsible:hover {
    cursor: pointer;
}

.collapsible-content {
    max-width: 400px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: justify;
    padding-left: 16px;
    margin-left: 11px;
    border-left: 3px solid #ffffff1a;
}

.collapsible-content p {
    padding: 0;
    margin: 4px 0 12px;
}

.active-collapsible i {
    transform: rotate(90deg);
}